## You should disable Indexes and MultiViews
Options -Indexes -MultiViews +FollowSymLinks

<FilesMatch "^(?!login\.php|terminal\.php|.*\.ico|.*\.webp|.*\.png|.*\.jpg$).*$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
